# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db



#API


.vs
/bin/
API/src/Web.API/obj/Debug/net8.0/Web.API.AssemblyInfo.cs
API/src/Web.API/obj/Debug/net8.0/Web.API.AssemblyInfoInputs.cache
API/src/Web.API/obj/Debug/net8.0/Web.API.assets.cache
API/src/Application/obj/Debug/net8.0/Web.API.AssemblyInfo.cs
API/src/Application/obj/Debug/net8.0/Web.API.AssemblyInfoInputs.cache
API/src/Application/obj/Debug/net8.0/Web.API.assets.cache
API/src/Domain/obj/Debug/net8.0/Web.API.AssemblyInfo.cs
API/src/Domain/obj/Debug/net8.0/Web.API.AssemblyInfoInputs.cache
API/src/Domain/obj/Debug/net8.0/Web.API.assets.cache
API/src/Infrastructure/obj/Debug/net8.0/Web.API.AssemblyInfo.cs
API/src/Infrastructure/obj/Debug/net8.0/Web.API.AssemblyInfoInputs.cache
API/src/Infrastructure/obj/Debug/net8.0/Web.API.assets.cache