<p-dialog header="Edit Data" [(visible)]="display">
    <div class="p-fluid">
        <div class="p-field">
            <label for="name">Name</label>
            <input id="name" type="text" pInputText [(ngModel)]="data.name">
        </div>
        <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText [(ngModel)]="data.email">
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="Save" icon="pi pi-check" (click)="save()"></button>
    </p-footer>
</p-dialog>